@model IEnumerable<SalesWebMvc.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>Departments</h1>

<p>
    <a class="text-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th class ="bg-primary">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="bg-primary"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a class="text-primary link-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="text-primary link-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="text-primary link-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
