@model IEnumerable<SalesWebMvc.Models.SalesRecord>

<form class="form-horizontal" asp-action="SimpleSearch">
	<fieldset>
		<legend>Simple Search</legend>
		<div class="form-group">
			<label for="minDate" class="col-lg-2 control label">Min Date</label>
			<div class="col-lg-2">
				<input type="date" name="minDate" class="form-control" required>
			</div>
		</div>
		<div class="form-group">
			<label for="maxDate" class="col-lg-2 control label">Max Date</label>
			<div class="col-lg-2">
				<input type="date" name="maxDate" class="form-control" required>
			</div>
		</div>
	</fieldset>
	<div class="form-group">
		<input type="submit" value="Search" class="btn btn-primary" />
	</div>
	<div>
		<a asp-action="Index">Back</a>
	</div>
</form>
<br />
<div>
	<div class="panel panel-heading">
		<h3 class="panel-title">Total Sales = @Model.Sum(obj => obj.Amount).ToString("F2")</h3>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th class="bg-primary">
					@Html.DisplayNameFor(model => model.Date)
				</th>
				<th class="bg-primary">
					@Html.DisplayNameFor(model => model.Amount)
				</th>
				<th class="bg-primary">
					@Html.DisplayNameFor(model => model.Salestatus)
				</th>
				<th class="bg-primary"></th>
			</tr>
		</thead>
		<tbody>

			@foreach (var item in Model)
			{
				
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Date)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Amount)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Salestatus)
					</td>
					<td>
						<a class="text-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
						<a class="text-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
						<a class="text-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}

